<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="LibrarySystemConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=LibrarySystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="LibrarySystemConnectionString" connectionString="Data Source=DESKTOP-RVJ4RC5;Initial Catalog=LibraryDB;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="LibrarySystemConnectionString" connectionString="Data Source=LAPTOP-CKSBOEVR;Initial Catalog=LibrarySystem;User ID=sa;Password=12345" providerName="System.Data.SqlClient; persist security info=true;Connect Timeout=2000; pooling='true'; Max Pool Size=2000"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>